################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/AdoNetDatabaseDemo/.vscode
/DotNet/AdoNetDatabaseDemo/bin/Debug/net10.0
/DotNet/AdoNetDatabaseDemo/obj
/DotNet/AspNetMvcCalculator/.vs
/DotNet/AspNetMvcCalculator/AspNetMvcCalculator/bin/Debug/net10.0
/DotNet/AspNetMvcCalculator/AspNetMvcCalculator/obj
/DotNet/AspNetWebApiCsvDemo/.vs
/DotNet/AspNetWebApiCsvDemo/AspNetWebApiCsvDemo/bin/Debug/net10.0
/DotNet/AspNetWebApiCsvDemo/AspNetWebApiCsvDemo/obj
/DotNet/AspNetWebApiEFDemo/.vs
/DotNet/AspNetWebApiEFDemo/AspNetWebApiEFDemo/bin/Debug/net10.0
/DotNet/AspNetWebApiEFDemo/AspNetWebApiEFDemo/obj
/DotNet/EntityFrameworkDemo/.vs
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/bin/Debug/net10.0
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/obj
/DotNet/GenericTypesAndLinq/.vscode
/DotNet/GenericTypesAndLinq/bin/Debug/net10.0
/DotNet/GenericTypesAndLinq/obj
/DotNet/HelloWorld/bin/Debug/net10.0
/DotNet/HelloWorld/obj
/DotNet/NumberDemo/bin/Debug/net10.0
/DotNet/NumberDemo/obj
/DotNet/NumberGame/bin/Debug/net10.0
/DotNet/NumberGame/obj
/DotNet/OOPDemo/bin/Debug/net10.0
/DotNet/OOPDemo/obj
/DotNet/StringDemo/obj
/DotNet/StringPerformance/bin/Debug/net10.0
/DotNet/StringPerformance/obj
/Python/__pycache__
/DotNet/WebAppWithUnitTests/.vs/WebAppWithUnitTests.slnx
/DotNet/WebAppWithUnitTests/WebAppWithUnitTests/bin/Debug/net10.0
/DotNet/WebAppWithUnitTests/WebAppWithUnitTests/obj
